/* external style sheet */
body {
    background-color: lightblue;
}

h2 {
    color: navy;
	text-align: center;
}

#bandmembers {
	margin-left: 4em;
}

p { 
	text-align: center;
	}
	
table {
     border-collapse: collapse;
	 width:90%;
}
	
table,th, td {
	border:1px solid black;
	
}

th {
	 background-color: grey;
     text-align: center;
}	
td {
     text-align: center;
}
