/* external style sheet */

@font-face {
    font-family: fireFont;
    src: url(CracklingFire.ttf);
}

h1 {
	font-family:fireFont, Fallback, serif;
    color:darkorange;
	text-align: center;
	
	}	
h2 {
	text-align:center;
}	

a {
		text-decoration: underline;
		font-weight: none;
		color: Red;
	}

	a:link {
	  color: Green;
	  text-decoration: underline;
	}

	a:visited {
		color: Purple;
	}

	a:hover {
		font-weight:bold; 
	}

	a:active {
		font-weight:bold;
		text-decoration: none;
	}

	#carousel-example-generic{
				height:50px;
				width:1200px;
				}
	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #ffa500;
		margin: 1em 0;
		padding: 0; 
	}	
	
/* site navigation */
.div-toptable{
  display:table;         
  width:40%;    
}
.div-toptable-row{
  display:table-row;
  width:auto;
  clear:both;
}
.div-toptable-col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:80px;   
  text-align: center;  
}
/* end site navigation */

.div-contacttable{
  display:table;         
  width:30%;                
}
.div-contacttable-row{
  display:table-row;
  width:auto;
  clear:both;
}
.div-contacttable-inputcol{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:75px;   
  text-align: center;  
}
 
 .div-contacttable-inputlabel{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:75px;   
  text-align: center;  
}

#Campfirefooter {
	text-align: center;
	font-style: italic;
}



