/* external style sheet */
h1 {
    color:darkorange;
	text-align: center;
}


.div-toptable{
  display:table;         
  width:30%;                
}
.div-toptable-row{
  display:table-row;
  width:auto;
  clear:both;
}
.div-toptable-col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:75px;   
  text-align: center;  
}

#Campfirefooter {
	text-align: center;
	font-style: italic;
}

/*	
table,th, td {
	border:1px solid black;
	
}

th {
	 background-color: grey;
     text-align: center;
}	
*/

