/* external style sheet */

h2 {
    color: navy;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}
#albumcover {
	background-image: url(images/GreenDayBreakdown.jpg); height: 500px; width: 500px; margin: auto;
    background-attachment: scroll;
}

#bandmembers {
	margin-left: 4em;
	font-style:italic;
}	

p { 
	text-align: center;
	}
	
table {
     border-collapse: collapse;
	 width:90%;
}
	
table,th, td {
	border:1px solid black;
	background-color: lightgreen;
	
}

th {
	 background-color: grey;
     text-align: center;
	
}	
td {
	 font-style: italic;
     text-align: center;
}
